<!DOCTYPE html>
<html>
<head>
	<title>Content</title>
	<!-- Link to locally hosted fonts -->
	<link rel="icon" href="/static/img/favicon-96x96.png" type="image/png">
	<link rel="stylesheet" href="/static/css/fonts.css">

	<script src="/static/js/task-poller.js"></script>
	<link rel="stylesheet" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/gallery.css">
	<script src="/static/js/gallery.js"></script>
</head> 
<body style="padding-top: 100px;">
	<!-- Showing the top application bar which is common for all pages -->
	{{template "header" .}}

	<!-- Showing the years bar -->
	 {{template "yearsbar" .}}

	<!-- Showing the grid with the thumbnails -->
	{{template "photogrid" .}}

	<!-- Include all modals -->
	{{template "gallery_modals"}}

	{{if .ShowPreview}}
	<script>
		// This script runs if the server wants to show a specific preview on page load.
		document.addEventListener('DOMContentLoaded', () => {
			// Find the photo item using the unique filename.
			const photoItem = document.querySelector(`.photo-item input[data-filename="{{.ShowPreview}}"]`);
			if (photoItem) {
				// Trigger a click on its lightbox anchor to open the preview.
				photoItem.closest('.photo-item').querySelector('.lightbox-trigger').click();
			}
		});
	</script>
	{{end}}
</body>
</html>