<!DOCTYPE html>
<html>
<head>
	<title>Content</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Link to locally hosted fonts -->
	<link rel="icon" href="/static/img/favicon-96x96.png" type="image/png">
	<link rel="stylesheet" href="/static/css/fonts.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

	<link rel="stylesheet" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/app-bar.css">
	<link rel="stylesheet" href="/static/css/navigation-rail.css">
	<link rel="stylesheet" href="/static/css/dialog.css">
	<link rel="stylesheet" href="/static/css/snackbar.css">
	<link rel="stylesheet" href="/static/css/photo-grid.css">
	<link rel="stylesheet" href="/static/css/gallery.css">
	<script src="/static/js/app-bar.js" defer></script>
	<script src="/static/js/task-poller.js"></script>
	<script src="/static/js/lightbox.js" defer></script>
	<script src="/static/js/gallery.js" defer></script>
	<script src="/static/js/split-button.js" defer></script>
	<script src="/static/js/photo-selection.js" defer></script>
</head> 
<body>
	<!-- Showing the top application bar which is common for all pages -->
	{{template "header" .}}

	<!-- Show the navigation rail -->
	{{template "nav_rail" .}}

	{{template "yearsbar" .}}

	<div class="main-content">
		<!-- Showing the grid with the thumbnails -->
		{{template "photogrid" .}}
	</div>
	<!-- Include all modals -->
	{{template "gallery_modals"}}

	<!-- M3 Snackbar -->
	<div id="m3-snackbar" class="m3-snackbar">
		<span class="m3-snackbar-label"></span>
	</div>

	{{if .ShowPreview}}
	<script>
		// This script runs if the server wants to show a specific preview on page load.
		document.addEventListener('DOMContentLoaded', () => {
			// Find the photo item using the unique filename.
			const photoItem = document.querySelector(`.photo-item input[data-filename="{{.ShowPreview}}"]`);
			if (photoItem) {
				// Trigger a click on its lightbox anchor to open the preview.
				photoItem.closest('.photo-item').querySelector('.lightbox-trigger').click();
			}
		});
	</script>
	{{end}}
</body>
</html>