<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="icon" href="/static/img/favicon-96x96.png" type="image/png">
</head>
<body>
    <h1>Tmunot pictures server by Boris Kimel</h1>
    <form method="POST" action="/login">
        <input type="hidden" name="redirect_url" value="{{.RedirectURL}}">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
