<!-- Universal template to display a grid of thumbnails -->
<!-- TODO: Certain features should be turned on/off using parameters -->

{{define "photogrid"}}

<div id="gallery-container" data-username="{{.Username}}" data-total-photos="{{.TotalPhotos}}"
    data-filter-year="{{.FilterYear}}">
    {{if .DayGroups}}
    {{range .DayGroups}}
    <div class="date-header">
        <input type="checkbox" class="day-select-checkbox" title="Select all photos from this day">
        <h2 class="date-separator" data-date="{{.Date.Format " 2006-01-02"}}">
            {{.Date.Format "Jan 2, 2006"}}
            &middot; <span class="photo-count">{{.Count}}</span>
        </h2>
    </div>
    <div class="photo-gallery">
        {{range .Photos}}
        <div class="photo-item" data-year="{{.DateTime.Year}}"
            style="--aspect-ratio: {{.ThumbWidth}} / {{.ThumbHeight}};">
            <input type="checkbox" class="photo-select-checkbox" data-filename="{{.Filename}}">
            <a href="#" class="lightbox-trigger" data-preview="{{.PreviewPath}}">
                <img src="{{.ThumbPath}}" alt="{{.Filename}}" title="{{.Filename}}" loading="lazy"
                    width="{{.ThumbWidth}}" height="{{.ThumbHeight}}">
            </a>
            <button class="photo-menu-btn icon-button" data-filename="{{.Filename}}">
                <span class="material-symbols-outlined">more_vert</span>
            </button>
            <ul class="m3-menu dropdown-content">
                <li class="m3-menu-item info-btn" role="menuitem" tabindex="-1">Info</li>
                <li class="m3-menu-item change-date-btn" role="menuitem" tabindex="-1">Change date</li>
                <li class="m3-menu-item delete-btn" role="menuitem" tabindex="-1">Delete</li>
            </ul>
        </div>
        {{end}}
    </div>
    {{end}}
    {{else}}
    <p style="padding-left: 1em;">No photos have been uploaded yet.</p>
    {{end}}
</div>

{{end}}